<ng-container>
  <div class="card">
    <div class="card-header">
      <h2>Create Future Special Closures / Hours</h2>
      <p>Have an upcoming vacation or holiday observance? Stop inbound orders by setting up an upcoming closure below.
        All of your menus</p>
    </div>
    <div class="card-body">
      <div>
        <div class="mb-3 mt-3">
          <label for="description" class="form-label">Description:</label>
          <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
        </div>

        <div class="mb-3 mt-3">
          <label for="start_date" class="form-label">Start Date:</label>
          <input type="date" class="form-control" id="start_date" placeholder="Enter Start Date" name="start_date">
        </div>

      </div>
    </div>
    <div class="card-footer">Footer</div>
  </div>
</ng-container>
