<ng-container>
  <div class="card">
    <div class="card-header">
      <h2>Open Hours For Menu</h2>
      <p>Hours for the menu "All Day Menu". Hours may be different when shown to customers.</p>
    </div>
    <form [formGroup]="workHoursForm2" (ngSubmit)="submit()">
      <div class="card-body" *ngFor="let item of daysTime">
        <div class="row pt-3">
          <div class="col-1">{{item.day}}</div>
          <div class="col-1"><input type="time" formControlName="morningStartTime"
                                    [(ngModel)]="item.morningStartTime"></div>
          <div class="col-1"><input type="time" formControlName="morningCloseTime"
                                    [(ngModel)]="item.morningCloseTime"></div>
          <div class="col-1"><input type="time" formControlName="afterNoonStartTime"
                                    [(ngModel)]="item.afterNoonStartTime">
          </div>
          <div class="col-1"><input type="time" formControlName="afterNoonCloseTime"
                                    [(ngModel)]="item.afterNoonCloseTime">
          </div>
          <div class="col-2"><input class="form-check-input ms-lg-1" formControlName="isClosed"
                                    [checked]="item.isClosed === 'true'"
                                    type="checkbox">
            <span class="pt-0">Closed</span></div>
        </div>


      </div>
    </form>
    <div class="card-footer">Footer</div>
  </div>


</ng-container>
